@tailwind base;
@tailwind components;
@tailwind utilities;

.headingText {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 209, 67, 1) 0%, rgba(255, 145, 83, 1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.signUpCard {
    background-color: #031d4e;
}

.login-toast {
    margin-top: 50px;
}